*{
	font-family: Comic Sans, sans-serif;
	box-sizing: border-box;

}

.navbar{
	background-color: grey;
	border-bottom: solid;
	height: 80px;
}

.navbar-brand {
	style: bold;
	color:  black;
	text-decoration: none;
	font-size: 40px;
}


#navbar-nav{
	style: bold;
	color:  black;
}


h2{
	padding-top: 30px;
	padding-bottom: 30px;
}


.box{
	background-color: lightgrey;
	margin: 30px;
	padding: 0px 0px 0px 10px;
	border-style: solid;
	border-color: solid black;
}

.btn{
	float: right;
}

